# Entorno Virtual
env/
venv/

# Archivos de configuración
*.env

# Archivos compilados
*.pyc
__pycache__/

# Directorios de Django
db.sqlite3


# Archivos de migraciones
migrations/

# Archivos de log
*.log

# Configuración de IDEs
.idea/
.vscode/

web.config
