<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Detailed" />

    <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\backend_portal_web\venv\Scripts\python.exe|C:\inetpub\wwwroot\backend_portal_web\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\backend_portal_web\venv\Scripts\python.exe|C:\inetpub\wwwroot\backend_portal_web\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\inetpub\wwwroot\backend_portal_web\venv\Scripts\python.exe" arguments="C:\inetpub\wwwroot\backend_portal_web\venv\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="backend.wsgi.application" />
          <environmentVariable name="DJANGO_SETTINGS_MODULE" value="backend.settings" />
          <environmentVariable name="WSGI_LOG" value="C:\inetpub\wwwroot\backend_portal_web\wfastcgi.log" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\backend_portal_web;C:\inetpub\wwwroot\backend_portal_web\venv\Lib\site-packages" />


          <!-- Variables de entorno Django -->
          <environmentVariable name="DJANGO_SECRET_KEY" value="django-insecure-3!y9wfdo9%ik_wsxzh-+4^b3_4!wqqbx5j39-c%r8dex&amp;vag0q" />
          <environmentVariable name="POSTGRES_DB" value="central_medicron_ips" />
          <environmentVariable name="POSTGRES_USER" value="postgres" />
          <environmentVariable name="POSTGRES_PASSWORD" value="loc4lUs3r*2020-" />
          <environmentVariable name="EMAIL_PORT" value="587" />
          <environmentVariable name="EMAIL_USE_TLS" value="True" />
          <environmentVariable name="EMAIL_HOST_USER" value="tics@redmedicronips.com.co" />
          <environmentVariable name="EMAIL_HOST_PASSWORD" value="aszzqcqqjjlbqgjr" />
        </environmentVariables>
      </application>
    </fastCgi>
        <defaultDocument>
            <files>
                <add value="manage.py" />
            </files>
        </defaultDocument>
  </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\backend_portal_web" />
        <add key="WSGI_HANDLER" value="backend.wsgi.application" />
    </appSettings>
</configuration>
